# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps

'atom-workspace atom-text-editor:not([mini])':
  'cmd-;': 'dillon:focus-next-pane'
  'cmd-k cmd-l': 'pane:split-right-and-copy-active-item'
  'cmd-k cmd-h': 'pane:split-left-and-copy-active-item'
  'cmd-k cmd-j': 'pane:split-down-and-copy-active-item'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  # 'ctrl-p': 'clip-history:paste-newer'

'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'

  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

'atom-text-editor.vim-mode-plus.operator-pending-mode':
  '/': 'vim-mode-plus:inner-comment'

'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.visual-mode)':
  'ctrl-k': 'dillon:move-current-line-up'
  'ctrl-j': 'dillon:move-current-line-down'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'g >': 'vim-mode-plus:rotate-arguments-of-inner-pair'
  'g <': 'vim-mode-plus:rotate-arguments-backwards-of-inner-pair'# 'enter': 'vim-mode-plus:move-to-last-line'
  'E': 'narrow:fold'
  ':': 'command-palette:toggle'
  'space space': 'vim-mode-plus:set-register-name-to-*'
  'space o': 'vim-mode-plus-user:insert-newline-below'
  'space O': 'vim-mode-plus-user:insert-newline-above'
  'ctrl-s': 'vim-mode-plus:transform-smart-word-by-select-list'
  'f2': 'dillon:rename-param-under-cursor'
  # 'R': 'vim-mode-plus-user:align-regex'
  'g r': 'vim-mode-plus:reverse'
  'g s': 'vim-mode-plus:sort'
  'ctrl->': 'linter-ui-default:next'
  'ctrl-<': 'linter-ui-default:previous'
  # '!': 'vim-mode-plus-user:replace-with-execution'
  'ctrl-\\': 'window:reload'
  'q': 'vim-mode-plus:move-to-next-subword'
  'Q': 'vim-mode-plus:move-to-previous-subword'
  "g '": 'vim-mode-plus:move-to-next-string'

  # 'g n': 'vim-mode-plus:move-to-next-number'
  # 'g N': 'vim-mode-plus:move-to-previous-number'

  # 'q': 'atom-keyboard-macros-vim:toggle_record_macro_vim'
  # '@': 'atom-keyboard-macros-vim:execute_macro_vim'
  # 'Q': 'atom-keyboard-macros:call_last_kbd_macro'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ',': 'vim-mode-plus:inner-arguments'
  ';': 'vim-mode-plus:inner-any-pair-allow-forwarding'

  # Use closing pair as forwarding version of pair-text-object
  'i }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'

  'i >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'

  'i )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a )': 'vim-mode-plus:a-parenthesis-allow-forwarding'

  'i ]':  'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'a ]':  'vim-mode-plus:a-square-bracket-allow-forwarding'

  'i space': 'vim-mode-plus-user:inner-whitespace'
  'a space': 'vim-mode-plus-user:a-whitespace'

'atom-text-editor.vim-mode-plus.normal-mode':
  'R': 'vim-mode-plus:replace-with-register'
  'y /': 'vim-mode-plus:duplicate-with-comment-out-original'
  'space l': 'toggle-markdown-task:toggle'
  '\\': 'toggle:visit'
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

'body':
   # if not in vmp, cancel
  'ctrl-;': 'core:cancel'
  "ctrl-'": 'core:cancel'
  # change tab ordering
  # (tip from https://github.com/atom/atom/issues/11650#issuecomment-261424720)
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'cmd-!': 'dillon:commit-all'
  'cmd-shift-u': 'github:unstage-all-changes'

'atom-text-editor.vim-mode-plus':
  'ctrl-;': 'vim-mode-plus:reset-normal-mode'
  "ctrl-'": 'dillon:normal-mode-and-save'
  'ctrl-z': 'dillon:undo-and-normal-mode'

'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-;': 'vim-mode-plus:activate-normal-mode'

# smalls configuration
'atom-text-editor.smalls.search':
  ';': 'smalls:jump'

'atom-text-editor:not([mini])':
  'cmd-;': 'smalls:start'
  # 'g ;': 'toggle-markdown-task:toggle'

'atom-text-editor':
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
  'ctrl-h': 'git-diff:move-to-previous-diff'
  'ctrl-l': 'git-diff:move-to-next-diff'

"atom-text-editor[data-grammar='source elm']":
  'ctrl-.': 'dillon:elm-quick-fix-and-save'
  'ctrl-,': 'dillon:elm-quick-fix-and-save-all'
  'cmd-r': 'elmjutsu:go-to-symbol'
  'cmd-shift-m': 'elmjutsu:lift-to-top-level'
  'cmd-shift-v': 'elmjutsu:lift-to-let'
  'cmd-shift-i': 'elmjutsu:add-import'
  'cmd-shift-g': 'elmjutsu:find-usages'
