packages: [
  "ariake-dark-syntax"
  "atom-elixir"
  "atom-snazzy-clear-syntax"
  "atom-typescript"
  "autoclose-html"
  "autocomplete-haskell"
  "busy"
  "busy-signal"
  "choose-pane"
  "clip-history"
  "color-picker"
  "copy-with-style"
  "cursor-history"
  "cyber-dojo"
  "demo-mode"
  "elm-format"
  "elm-snippets"
  "elmjutsu"
  "example-package"
  "expand-region"
  "file-icons"
  "git-diff-details"
  "haskell-ghc-mod"
  "hyperclick"
  "intentions"
  "jumpy"
  "language-applescript"
  "language-diff"
  "language-elixir"
  "language-elm"
  "language-haskell"
  "linter"
  "linter-coffeelint"
  "linter-elixir-credo"
  "linter-elm-make"
  "minimap"
  "minitest-snippets"
  "narrow"
  "nuclide"
  "package-sync"
  "pigments"
  "prettier-atom"
  "quick-highlight"
  "ruby-block"
  "ruby-test"
  "seti-syntax"
  "seti-ui"
  "smalls"
  "toggle"
  "toggle-markdown-task"
  "toggle-packages"
  "vim-mode-plus"
  "vim-mode-plus-duplicate"
  "vim-mode-plus-exchange"
  "vim-mode-plus-move-selected-text"
  "vim-mode-plus-move-to-symbols"
  "vim-mode-plus-replace-with-execution"
]
